img, span {
  padding: 0 5px;
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

input {
  height: 35px;
  width: 550px;
  font-size: 20px;
  box-shadow: 0px 2px 1px grey;
}

div, button {
  padding: 5px;
  color: #606060;
  font-family: Calibri;
}

button {
  height: 35px;
  width: 130px;
  font-weight: bold;
  font-size: 16px;
}

button, input {
  border: 1px solid #dbdbdb;
}

button:hover {
  border-color: #8e8e8e;
  color: #000000;
}

button, .footer {
  background-color: #dbdbdb;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 90px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
